<footer class="page-footer font-small blue pt-4 pieciera">
    <div class="container-fluid text-center text-md-left contenido">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">JOBCENTER</h5>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Contactanos</h5>
          <strong><p>Telefono: +57 314 5313922</p></strong>
          <strong><p>Email: monikasan456@gmail.com</p></strong>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Siguenos</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!"  class="link-light"><img src="./assets/facebook.png"> facebook</a>
            </li><br>
            <li>
              <a href="#!"  class="link-light"><img src="./assets/instagram.png"> instagram</a>
            </li><br>
            <li>
              <a href="#!"  class="link-light"><img src="./assets/twiter.png">twitter</a>
            </li><br>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
  </footer>


