<section id="about">
    <div class="cont">
      <div class="container">
        <div class="row">
          <div class="col Center">
            <div class="text-about">
              <div class="container" class="cont-sec">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <h1>Registro De La Empresa</h1><hr>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Datos De La Empresa</h2>
                                    <div class="form-group">
                                        <label>NIT De La Empresa</label>
                                        <input type="text" name="identificacion" class="form-control" placeholder="Ingrese el NIT"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre De la Empresa</label>
                                        <input type="text" name="" class="form-control" placeholder="Ingrese el nombre"/>
                                    </div> 
                                </div>

                                <div class="col-md-6">
                                    <h2>Datos De La Cuenta</h2>
                                    <div class="form-group">
                                        <label>Dirrecion de Correo</label>
                                        <input type="email" name="Correo" class="form-control" placeholder="Ingresa tu correo electronico"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Contraseña</label>
                                              <input type="password" class="form-control" placeholder="Crea una contraseña" aria-label="First name">
                                            </div>
                                            <div class="col">
                                                <label>Confirmar Contraseña</label>
                                              <input type="password" class="form-control" placeholder="Confirma la contraseña" aria-label="Last name">
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label>Tipo de servicio que ofrece la Empresa</label>
                                  <textarea class="form-control" rows="5" placeholder="Describe el servicio que ofrece la empresa"></textarea>
                              </div>
                            </div>
                            <h2>Datos De La Ubicacion</h2><hr>
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Pais</label>
                                      <input type="text" name="identificacion" class="form-control" placeholder="Ingrese el Pais"/>
                                  </div>
                                  <div class="form-group">
                                      <label>Ciudad</label>
                                      <input type="text" name="" class="form-control" placeholder="Ingrese la Ciudad"/>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Municipio</label>
                                      <input type="email" name="Correo" class="form-control" placeholder="Ingrese el Municipio"/>
                                  </div>
                                  <div class="form-group">
                                    <label>Direccion</label>
                                    <input type="email" name="Correo" class="form-control" placeholder="Ingrese la Direccion"/>
                                </div>
                              </div>
                          </div>
                            <br>
                            <div class="text-center"> 
                                <button class="btn mr-3 btn-outline-dark">Registrar</button>
                                <button class="btn btn-outline-dark" type="reset">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
