<div class="container-fluid"> 
  <div class="espacios">
    <div class="row">
      <div class="col-sm-6">
        <div class="oscurecer">
          <section id="about">
            <div class="cont">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 offset-md-3">
                    <div class="text-about text-center">
                      <h5>Registrarte como</h5>
                      <h1>EMPRESA</h1>
                      <div class="text-center"> 
                        <button class="btn btn-lg btn-block ">Registrarme</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="oscurecer2">
          <section id="about">
            <div class="cont">
              <div class="container">
                <div class="row ">
                  <div class="col-sm-6 offset-md-3">
                    <div class="text-about2 text-center">
                    <h5>Registrarte como</h5>
                        <h1>ASPIRANTE</h1>
                        <div class="text-center"> 
                          <button class="btn btn-lg btn-block ">Registrarme</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>  
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="sectionInformacion">
  <h1 class="titulos">Te damos la bienvenida</h1>
    <h3 class="subtitulos">JobCenter es un espacio en el cual podras buscar ofertas de empleo publicadas por las diferentes empresas que estan vinculadas
      a nuestra pagina. Y si eres una empresa y estas interesada en unirte a la familia, tendras la ventaja de poder publicar tus ofertas de trabajo de manera gratuita.
    </h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="./assets/Icono1.png" class="card-image">
          <div class="card-body">
            <h5 class="card-title titulos">BUSCA OFERTAS DE TRABAJO</h5>
            <p class="card-text">Puedes consultar y aspirar a las diferentes ofertas de trabajo que estan disponible para ti, con un practivo y 
              rapido metodo de busqueda.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/Icono2.png"class="card-image" >
          <div class="card-body">
            <h5 class="card-title titulos">PUBLICA TUS OFERTAS DE TRABAJO</h5>
            <p class="card-text">Publica tus diferentes ofertas de trabajo sin costo alguno, para ello tendras que indicarnos un par de datos requeridos para la publicacion, 
              si quieres saber mas al respecto, deberás registrarte.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/Icono3.png" class="card-image">
          <div class="card-body">
            <h5 class="card-title titulos">REGISTRA Y ACTUALIZA TUS DATOS</h5>
            <p class="card-text">Puedes registrar, actualizar tu hoja de vida y datos personales para que a la hora de postularte a una oferta de trabajo la empresa en cuestion se pueda verificar si tu perfil coincide con el que requieren.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="sectionAbout">
    <div class="row">
      <div class="oscurecer3">
        <section id="about">
          <div class="cont">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="text-about3">
                    <h1>SOBRE JOBCENTER</h1>
                    <p>Es un aplicativo web, hecho para funcionar como una bolsa de empleos y de este modo ayudar tanto a empresas como a personas de el común, para que las empresas registradas puedan ingresar sus solicitudes laborales, y las personas interesadas en aspirar a estas solicitudes las puedan ver para de esta forma saber a cual desean aspirar.<br>
                      Este a su vez es un proyecto realizado por estudiantes de la Universidad Popular del cesar, para las asignaturas de programacion web y ingenieria del software.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>