.oscurecer {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(/../assets/panel4.jpg);
      background-size:cover;
      height: 70vh;
  }
.oscurecer2 {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(/../assets/panel3.jpg);
      background-size:cover;
      height: 70vh;
  }
.oscurecer3{
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(/../assets/section3.jpg);
      background-size:cover;
      height: 80vh;
  }
.text-about{
    padding: 1rem;
    color:whitesmoke;
}
.text-about2{
    padding: 1rem;
    color:whitesmoke;
}
.btn{
  background: #559ACD;  /* fallback for old browsers */
 
}
.cont{
    padding: 5rem 2rem;
}
.espacios [class*="col-"] {
    padding: 0;
}
.sectionInformacion{
  text-align:center;
  padding:4rem;
}
.titulos{
  color:#559ACD;
}
.card-image{
 padding: 80px;
}
.card-body{
  font-size:18px;
}
.text-about3{
  background: rgba(85, 154, 205, 0.5);
  padding: 1.875rem;
  color:whitesmoke;
  font-size:18px;
  font-weight:600;
  text-align: justify;
}